* {
    font-family: Lato, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 900;
    text-shadow: 1px 1px 0px  black, 1px 1px 0px gray ;
}

html {
    overflow-y: visible;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body {
background-color: rgb(199, 138, 255);
}

.corPrimaria {
    background-color: rgb(65, 64, 64);
    border-radius: 35px;
    margin-left: 2%;
    margin-right: 2%;
    border: 3px solid rgb(199, 138, 255);
}
.corPrimaria:hover{
    box-shadow: 0px 0px 25px rgb(255, 70, 2);
    transition: 1s ease-in-out;
}

h3 {
    color: rgb(148, 91, 223);
    font-weight: bold;
    text-shadow: 1px 1px 0px  black;
}

/* NAVBAR */
.navbar {
    border-bottom: 1px solid orangered;
    color: orangered;
}

#offcanvasDarkNavbar {
    max-width: 70%;
    min-width: 45%;
    border-left: 1px solid orangered;
}

.offcanvas-title {
    color: rgb(250, 161, 129);
    font-weight: bold;
    margin-left: 10% ;
}

.nav-texto {
    color: rgb(250, 161, 129);
    font-weight: bold;
}

.nav-texto2,
.nav-texto3,
.navbar-text{
    color: rgb(199, 138, 255);
    font-weight: bold;
}

.redes-sociais-menu {
    font-size: 32px;
}

.aside-menu {
    font-size: 9px;
}

.container-contato-navbar {
    max-width: 100%;
    padding-right: 10%;
}

.botao-menu{
    object-position: center;
    align-items: center;
    align-self: center;
    align-content: center;
    justify-self: center;
    justify-content: center;
    justify-items: center;
    text-align: center;
    margin: 0;
    color: rgb(250, 161, 129);
    font-weight: bold;
}
.borda-menu{
    box-shadow: 1px 1px 1px 1px rgb(250, 161, 129), -1px -1px 1px 1px rgb(250, 161, 129);
}

/* FOTO PERFIL */
.foto-perfil {
    max-height: 150px;
    border-radius: 50%;
}
.local-foto{
    object-position: center;
    align-items: center;
    align-self: center;
    align-content: center;
    justify-self: center;
    justify-content: center;
    justify-items: center;
    text-align: center;
}

.foto-container{
    
}

/* SOBRE MIN */
.texto-sobre-mim {
    text-indent: 5%;
    text-align: justify;
}

#sobre-mim {
    border-radius: 35px;
    margin-left: 2%;
    margin-right: 2%;
}

/* PROJETOS */

/* TECH */
.tech-card{
    border: 1px solid rgb(199, 138, 255);
} 

.tech-card:hover{
    box-shadow: 0px 0px 25px rgb(199, 138, 255);
    transition: 1s ease-in-out;
    cursor: pointer;
} 
/* CONTATO */
/* FOOTER */
footer {
    border-top: 1px solid orangered;
}